<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h>Exercise Tracker</h>
      <form action="/api/users" method="post">
        <h3>Create a new user</h3>
        <p><code>POST /api/users</code></p>
        <input id="uname" type="text" name="username" placeholder="username"/>
        <input type="submit" value="Submit" />
      </form>
<form id="exercise-form" method="post">
  <h3>Add exercise</h3>

  <p><code>POST /api/users/:_id/exercise</code></p>
  <input id="uid" type="text" name="_id" placeholder=":_id"/>

  <input id="desc" type="text" name="descreption" placeholder="descreption"/>
  <input id="dur" type="text" name="durition" placeholder="durition"/>
  <input id="date"  type="date" placeholder="date (mm/dd/yyy)"/>
  <input type="submit" value="submit"/>
</form>
<p>
  <strong>GET user's exercise log:</strong>
  <code>GET /api/users/:_id/log?[from][&apm;limit] </code>
</p>
<p>
  <strong>[]</strong> = optional
</p>
<p><strong>from, to</strong> = dates(mm/dd/yyyy)<strong>limit</strong> =namber</p>
    </div>
  </body>
<script>
  const exerciseForm = document.getElementById('exercise-form');

  exerciseForm.addEventListener('submit',()=>{
    const userId =document.getElementById('uid').value ;
    exerciseForm.action= '/api/users/${userId}/exercises'
    exerciseForm.submit()
  })
</script>

</html>
